.header {
  margin: 10px;
  font-size: 12px;
  padding: 10px;
  height: 55px;
  color: white;
  background-image: url("../images/bg-image.jpg");
  font-family: "Train One", cursive;
}

.search-button {
  width: 100%;
}

.city-input {
  width: 100%;
}

li {
  margin-top: 5px;
  font-weight: bolder;
}

.list-group-item-action {
  text-align: center;
}

.five {
  font-size: 12px;
  color: white;
  background-color: gray;
  font-family: "Lucida Sans", sans-serif, "Train One";
  font-weight: bold;
}

.uvInd {
  color: honeydew;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 15px;
  padding-left: 15px;
}
